.footer{
    background-color:rgba(29, 29, 29, 1);
    height: 22vw;
}
.img1 img{
    width: 16vw;
}
.footermainDiv{
    color: white;
    display:flex;
    height: 100%;
    justify-content: space-around;
    align-items: start;
    width: 94vw;
    padding-top: 3vw;
    font-size: 1.1vw;

}
.company, .policy{
    display: flex;
    line-height: 2vw;
    margin-top: 1vw;

}
.brand {
    margin-top: 2vw;
}
.brand img{
    width: 20vw;
}




